<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2>
                <mat-icon>account_circle</mat-icon> Customer!
            </h2>
        </mat-card-title>
        <mat-card-subtitle>New Registration</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="margin-top: 100px;" fxLayout.gt-md="column wrap" fxLayoutAlign.gt-md="center stretch"
        fxLayoutGap.gt-md="10px">
        <app-customer-registration-form></app-customer-registration-form>
    </mat-card-content>
</mat-card>