.side-nav-content {
    height: 100vh;
}

.toolbar-content-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.toolbar-base {
    font-size: 12px;
    background-color: white;
}

.side-nav-bar{
    min-width: 300px;
}

.side-nav-content-body {
    min-height: 100%;
}

.content-home {
    margin: 30px;
}

.fab-button {
    position: absolute;
    right: 10px;
    bottom: 20px;
}
